 /* HomePage.css */
 @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600;700&display=swap');

 @keyframes glowing {
  0% {
    box-shadow: 0 0 5px #bfbfbf, 0 0 10px #bfbfbf, 0 0 15px #bfbfbf, 0 0 20px #bfbfbf, 0 0 25px #bfbfbf, 0 0 30px #bfbfbf, 0 0 35px #bfbfbf, 0 0 40px #bfbfbf;
  }
  50% {
    box-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 50px #ffffff, 0 0 60px #ffffff, 0 0 70px #ffffff, 0 0 80px #ffffff;
  }
  100% {
    box-shadow: 0 0 5px #bfbfbf, 0 0 10px #bfbfbf, 0 0 15px #bfbfbf, 0 0 20px #bfbfbf, 0 0 25px #bfbfbf, 0 0 30px #bfbfbf, 0 0 35px #bfbfbf, 0 0 40px #bfbfbf;
  }
}
/* General styles */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Playfair Display', serif;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

h3 {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: inherit; /* Ensure it inherits the color from the parent */
  font-family: 'Roboto Slab', serif;
}

a {
  color: inherit; /* Ensure links inherit color */
}

a:hover {
  text-decoration: none; /* Remove underline on hover */
}


.paragraph {
  font-size: 1.15rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}



.profile-pic-container {
  display: flex;
  align-items: center;
  height: 100vh; /* Ensure it takes up the full viewport height */
  background: linear-gradient(135deg, #1f1f1f, #121212); /* Background gradient */
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #000000; /* Initial border color */
  animation: glowing 5s infinite; /* Apply the animation */
  margin-right: 50px; /* Add margin to the right to separate from text */
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.highlight {
  font-weight: bold; /* Make the font bolder */
}

.subtext {
  display: block;
  font-size: 1rem;
  margin-top: 12px;
  opacity: 0.9;
}

.button:hover {
  background-color: #0056b3;
}

.resume-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  color: #f8fcfa; /* Green text color */
  background-color: #000; /* Black background */
  border: 2px solid #f5f5f5; /* Green border */
  border-radius: 25px; /* Rounded corners */
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  margin-top: 20px; /* Add margin for spacing */
}

.resume-button:hover {
  background-color: #ffffff; /* Green background on hover */
  color: #000; /* Black text on hover */
  border-color: #000; /* Black border on hover */
}

.resume-button svg {
  margin-right: 10px; /* Space between icon and text */
}

/* Section styles */
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  padding: 50px 0;
}

.section.light {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: #ffffff; /* White background */
  color: #333333; /* Dark gray text */
  padding: 50px 20px;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */

}
.section.dark {
  background: #070707; /* Light black background */
  color: #ffffff; /* White text */
}

.home-section {
  background: url('background.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  height: 80vh; /* Increase height to 150% of the viewport height */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  position: relative;
}

.home-content {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

.home-image {
  margin-right: 70px; /* Increase margin to move text to the right */
}

.home-text {
  max-width: 600px;
  text-align: left;
}

/* Experience section */
.about-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start; /* Align items to the top */
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
  padding: 2em; /* Add padding for spacing */
  background: #f9f9f9; /* Light background color */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  flex-wrap: nowrap; /* Prevent wrapping to align items correctly */
}

.about-sidebar {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.tab-button {
  background-color: #000; /* Dark black background */
  border: 2px solid #444; /* Border for the buttons */
  border-radius: 5px; /* Rounded corners */
  color: #fff;
  padding: 15px 20px;
  text-align: left;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: bold; /* Make the font bolder */
  margin-bottom: 10px; /* Space between each box */
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.tab-button.active {
  background-color: #000; /* Maintain dark black background */
  color: #00ff89; /* Change text color to match the style */
  border-color: #00ff89; /* Change border color to match the style */
}

.tab-button:hover{
  background-color: #000; /* Maintain dark black background */
  color: #00ff89; /* Change text color to match the style */
}

.about-content-wrapper {
  flex: 1;
  padding: 20px; /* Add padding for the content */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align items to the top */
}

.about-content {
  font-size: 1.2em;
  line-height: 1.6;
  color: #000; /* Light gray text for better readability */
}

.about-content h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #000; /* Highlighted color for the header */
}

.about-content h4 {
  font-size: 1.1em;
}

.about-details {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Space between items */
}

.about-content p {
  font-size: 0.8em;
}


.detail-item {
  flex: 1 1 45%; /* Adjust width as needed */
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #ebebeb;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

.detail-title {
  font-weight: bold;
  color: #000;
  margin-right: 10px;
}

.about-content p {
  margin-bottom: 15px;
  text-align: justify; /* Justify text for a cleaner look */
}

.experience ul,
.skills ul {
  list-style: none;
  padding: 0;
}

.experience ul li,
.skills ul li {
  margin-bottom: 10px;
  line-height: 1.5;
}


.experience h4,
.education p {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.experience-date {
  font-size: 0.9em;
  color: #ffffff;
}

.icon {
  font-size: 2em;
  margin: 10px;
  position: relative;
}

.icon[data-tooltip]:hover:before,
.icon[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}

.icon[data-tooltip]:before {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #00ff89;
  color: #000;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.icon[data-tooltip]:after {
  content: '';
  position: absolute;
  bottom: calc(100% - 5px);
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #00ff89 transparent;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.about-text {
  flex: 1;
  padding-right: 2em;
  font-size: 1.1em; /* Adjust font size for a nicer look */
  line-height: 1.6;
  line-height: 1.6; /* Increase line height for better readability */
  max-width: 500px; /* Set max-width to control text width */
}

.about-text h2 {
  font-size: 2em;
  margin-bottom: 0.5em;
  color: #007bff; /* Teal for the section heading */
}

.experience {
  margin-bottom: 2em;
  border-left: 4px solid #007bff; /* Add a left border to highlight the section */
  padding-left: 1em; /* Add padding inside the border */
}

.experience h3 {
  color: #333333; /* Dark gray for the job title */
}

.about-text ul {
  list-style: disc inside;
  padding: 0;
}

.about-text li {
  margin-bottom: 1em;
  color: #333333; /* Dark gray text for the list items */
  font-size: 0.7em; /* Slightly larger font for list items */
}

.divider {
  width: 1px;
  background-color: #000000; /* Black color for divider */
  margin: 0 2em;
  height: 80%; /* Adjust height as needed */
}

.about-icons {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; /* Center align the icons */
}

.category {
  margin-bottom: 2em;
}

.category h3 {
  margin-bottom: 0.5em;
  color: inherit; /* Inherit text color */
}

.icons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.icon {
  position: relative;
}

.icon i {
  font-size: 3em;
  margin: 0.5em;
  transition: color 0.3s ease;
}

.icon[data-tooltip]:hover:after {
  content: attr(data-tooltip);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5em;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  border-radius: 5px;
  white-space: nowrap;
  z-index: 10;
}

.icon[data-tooltip]:hover i {
  color: #00bfa5; /* Teal color on hover */
}

.icon i.fab.fa-python {
  color: #306998;
}

.icon i.fab.fa-js {
  color: #f0db4f;
}

.icon i.fab.fa-java {
  color: #007396;
}

.icon i.fab.fa-html5 {
  color: #e34c26;
}

.icon i.fab.fa-css3-alt {
  color: #264de4;
}

.icon i.fab.fa-csharp {
  color: #239120;
}

.icon i.fab.fa-unity {
  color: #000000;
}

.icon i.fas.fa-database {
  color: #4db8ff;
}

.icon i.fas.fa-snowflake {
  color: #00acee;
}

.icon i.fas.fa-cloud {
  color: #1f8fcb;
}

.icon i.fab.fa-github {
  color: #4078c0;
}

.icon i.fab.fa-jira {
  color: #0052cc;
}

/* Projects section */
.projects-section {
  text-align: center;
  padding: 50px 20px; /* Add padding for smaller screens */
}

.projects-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.project-card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
  max-width: 300px; /* Adjust width as needed */
  text-align: left; /* Align text to the left */
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.project-card img {
  width: 100%;
  height: 200px; /* Fixed height to ensure uniform size */
  object-fit: cover; /* Ensure the image covers the area without distortion */
}

.project-card .project-info {
  padding: 20px;
}

.project-card h3 {
  margin: 0 0 10px;
}

/* Contact section */
.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;  /* Adjust padding to reduce height */
  width: 100%;
  text-align: center;
  opacity: 0.95;
}

.contact-section h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.contact-section p {
  font-size: 1em;
  margin-bottom: 10px;
  color: #666;
}

.social-links {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.social-links a {
  position: relative;
  margin: 0 10px;
  color: #007bff;
  font-size: 2em;
  transition: color 0.2s;
}

.social-links a::before {
  content: attr(data-hover);
  position: absolute;
  top: -30px; /* Adjust this value to position the text correctly */
  left: 50%;
  transform: translateX(-50%);
  color: #000000;
  font-size: 0.5em; /* Smaller font size */
  opacity: 0;
  visibility: hidden;
  white-space: nowrap;
  transition: opacity 0.3s, visibility 0.3s;
}

.social-links a:hover::before {
  opacity: 1;
  visibility: visible;
}


.contact-name {
  margin-top: 10px;
  font-size: 1.2em;
  color: inherit; /* Inherit text color */
}

/* Responsive styles */
@media (max-width: 768px) {
  .home-content {
    flex-direction: column;
    text-align: center; /* Center align text for smaller screens */
  }



  .resume-button {
    display: inline-block;
    width: auto; /* Make sure the button fits the content */
    padding: 10px 20px;
    margin: 0 auto; /* Center the button */
  }

  .home-text {
    text-align: center;
  }

  .about-sidebar {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
  }

  .home-text .heading {
    font-size: 1.5rem; /* Adjust h1 font size for mobile */
    left:18%
  }

  .home-text .paragraph {
    font-size: 1rem; /* Adjust paragraph font size for mobile */
    margin-left: 25px;
    margin-right: 25px;
  }

  .profile-pic {
    width: 150px;
    height: 150px;
    margin-left: 100px; /* Reset margin for smaller screens */
    margin-bottom: 40px;
  }

  .about-container {
    flex-direction: column;
    text-align: center;
    padding: 1em; /* Reduce padding for smaller screens */
  }

  .heading {
    top: 20%; /* Adjust this value to position it at the top of your DP */
    left: 20%; /* Center it horizontally */
    transform: translateX(-50%); /* Adjust position to be centered */
  }

  .tab-button {
    padding: 6px 6px;
    cursor: pointer;
    font-size: 0.7em;
    font-weight: bold;
    margin: 0 8px; /* Add horizontal margin for spacing */
    text-align: center;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }


  .divider {
    display: none; /* Hide divider on smaller screens */
  }

  .projects-container {
    flex-direction: column;
    align-items: center;
  }

  .project-card {
    max-width: 80%; /* Adjust max width for smaller screens */
  }

  .detail-item {
    margin: 0px 0px; /* Add margin between detail items */
    font-size: 0.7em;
  }
}



