/* src/components/Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position:fixed;
  top: 0;
  width: 100%;
  padding: 0.4em;
  background: #ffffff; /* White background */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.navbar .brand {
  display: flex;
  align-items: center;
}

.navbar .brand span {
  font-size: 1.2em;
  font-weight: bold;
  color: #333333; /* Dark gray text */
}

.navbar .nav-links {
  display: flex;
  align-items: center;
  flex-grow: 1; /* Allow nav-links to grow */
  justify-content: flex-end; /* Align items to the right */
}

.navbar .nav-links ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar .nav-links li {
  margin: 0 1em;
}

.navbar .nav-links a {
  color: #333333; /* Dark gray text */
  text-decoration: none;
  font-size: 1em;
  transition: color 0.3s ease-in-out;
}

.navbar .nav-links a:hover {
  color: #00bfa5; /* Teal text on hover */
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar .nav-links {
    flex-direction: row; /* Ensure nav links stay in a row on smaller screens */
    justify-content: center; /* Center align the nav links */
    flex-wrap: wrap; /* Allow wrapping if needed */
    width: 100%;
    margin-left: 0;
  }

  .navbar .nav-links ul {
    flex-direction: row; /* Ensure nav links stay in a row */
    justify-content: center;
    width: 100%;
  }

  .navbar .nav-links li {
    margin: 0.5em 1em; /* Adjust margin for smaller screens */
  }
}
