/* Projects.css */

.projects-section {
  padding: 60px 0;
  background-color: #000000; /* Change background color to black */
  text-align: center;
  color: #fff; /* Change text color to white */
}

.projects-section h2 {
  font-size: 3em; /* Adjust font size */
  margin-bottom: 20px;
  color: #fff; /* Ensure heading is white */
}

.projects-section p {
  font-size: 1em; /* Adjust font size */
  margin-bottom: 40px;
  color: #fff; /* Ensure text is white */
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.project-card {
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  width: calc(25% - 20px); /* Ensure four cards per row with spacing */
  margin: 10px; /* Adjust margin for spacing */
  transition: transform 0.3s;
  text-align: left;
}

.project-card:hover {
  transform: translateY(-10px);
}

.project-image {
  width: 100%;
  height: 150px; /* Adjust height for uniformity */
  object-fit: cover;
}

.project-content {
  padding: 20px;
  background-color: #f0f0f0; /* Change background color of content */
  color: #000; /* Set text color to black */
}

.project-content h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  text-align: center;
  color: #000; /* Adjust text color to black */
}

.project-content p {
  font-size: 0.9em;
  margin-bottom: 15px;
  color: #000; /* Adjust text color to black */
}

.project-link {
  display: inline-block;
  font-size: 0.8em;
  padding: 10px 13px;
  background-color: #000; /* Black background */
  color: #f0f0f0; /* Green text color */
  border-radius: 25px; /* Rounded corners */
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.project-link:hover {
  background-color: #f3f3f3; /* Green background on hover */
  color: #020202; /* Black text on hover */
  border-color: #000; /* Black border on hover */
}

/* Mobile responsiveness */
@media (max-width: 1200px) {
  .project-card {
    width: calc(33.333% - 20px); /* Three cards per row on medium screens */
  }
}

@media (max-width: 768px) {
  .project-card {
    width: calc(50% - 20px); /* Two cards per row on smaller screens */
  }
}

@media (max-width: 480px) {
  .project-card {
    width: calc(100% - 20px); /* One card per row on extra small screens */
  }

  .project-content h3 {
    font-size: 1.2em; /* Adjust font size for small screens */
  }

  .project-content p {
    font-size: 1em; /* Adjust font size for small screens */
  }

  .project-link {
    padding: 8px 16px; /* Adjust padding for small screens */
    font-size: 0.9em; /* Adjust font size for small screens */
  }
}
